@model _9ResWeb.Models.LoginViewModel
<link href="~/Content/bootstrap-social.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

@{
    ViewBag.Title = "Log in";
}

<div class="row" style="height:40px"> </div>

<div class="row">

    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <h4>Login or @Html.ActionLink("Sign up", "Register") </h4>

            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-6 form-group input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "email address" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
                        
            <div class="row">
                <div class="col-md-6 form-group input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                    <input type="submit" value="Log in" style="width: 100%;" class="btn btn-primary" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>

            </div>
        }

    </div>
</div>

<div class="row" style="height: 25px;"></div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}