@using System.Web.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="icon" href="/content/images/9res.bmp" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/authentication")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    @{
        int isLoggedIn = @Convert.ToInt32(User.Identity.IsAuthenticated);
    }

</head>
<body ng-app="@ViewBag.ngApp" ng-controller="AuthenticationController" sng-init="GetUserInfo( LoggedIn=@Convert.ToInt32(User.Identity.IsAuthenticated) )">

    <script>

        //AuthenticationProvider.init();

        var isLoggedIn = @isLoggedIn;
        console.log('isLoggedIn: ' + isLoggedIn);
        AuthenticationModule.config(['GooglePlusProvider', 'FacebookProvider', 'AuthenticationProvider', function (GooglePlusProvider, FacebookProvider, AuthenticationProvider, $http) {

            GooglePlusProvider.init({
                clientId: '@WebConfigurationManager.AppSettings["GooglePlusId"]',
                apiKey: 'AIzaSyAHUVC3i2tNcpRTkNIrA4FAPXvRf-9tbvo'
            });

            FacebookProvider.init('@WebConfigurationManager.AppSettings["FacebookId"]');
            GooglePlusProvider.setScopes('profile email');

            AuthenticationProvider.init( {
                loggedIn: isLoggedIn
            });

    }]);


    </script>

    <div class="page-wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div style="max-height: 45px; overflow: hidden;  margin-right: 10px;">
                        <a href="/" style="text-decoration: none;" class="logo9res">
                            <span class="logo9res" style="font-family: 'Bauhaus 93';  font-size: 50px; margin-right: 0; position: relative; top: -.25em; overflow: hidden;">
                                9
                            </span>
                            <span style="font-family: 'Bauhaus 93'; font-size: 22px; margin-right: 5px; margin-left: -16px; position: relative; top: -.54em; overflow: hidden;">res</span>
                        </a>
                        <span class="logo9res" style="font-family: 'Freestyle Script'; font-size: 26px; margin-left: 50px; position: relative; top: -.75em; overflow: hidden;">the totally free new resume standard</span>
                        
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@

                    @* Login Header Directive *@
                    <header-login></header-login>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <footer style="height: 65px; padding: 0px; overflow: hidden;">
        <div class="container">
            <div class="row">
                <hr style="margin-bottom: -10px;" />
                @*<a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/content/images/logo_white.bmp")" height="45" /></a>*@
                <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 42px; margin-right: -8px;">9</span>
                <span style="font-family: 'Bauhaus 93'; font-size: 19px; margin-right: 5px; margin-left: -0px;">res</span>
                &copy; @DateTime.Now.Year

            </div>
        </div>
    </footer>

    @* Login Temlate Directive *@
    <nr-login></nr-login>

</body>
</html>
