<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*<script>
        var IsLoggedIn = @(User.Identity.IsAuthenticated);
    </script>*@


    <link rel="icon" href="/content/images/9res.bmp" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/authentication")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</head>
<body ng-app="@ViewBag.ngApp" ng-controller="AuthenticationController" ng-init="LoggedIn=@Convert.ToInt32(User.Identity.IsAuthenticated)">
    <div class="page-wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div style="max-height: 45px; overflow: hidden;  margin-right: 10px;">
                        <a href="/" style="text-decoration: none;" class="logo9res">
                            <span class="logo9res" style="font-family: 'Bauhaus 93';  font-size: 50px; margin-right: 0; position: relative; top: -.25em; overflow: hidden;">
                                9
                                <span style="font-size: 23px; margin-right: 5px; margin-left: -17px; position: relative; top: -.42em;">res</span>
                            </span>

                            @*<span style="font-family: 'Bauhaus 93'; color: #DDDDDD; font-size: 26px; margin-right: 5px;position: relative; top: -.5em; overflow: hidden;">Res</span>*@
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>

                    @* Login Header Directive *@
                    <header-login></header-login>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <footer style="height: 65px; padding: 0px; overflow: hidden;">
        <div class="container">
            <div class="row">
                <hr style="margin-bottom: -10px;" />
                @*<a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/content/images/logo_white.bmp")" height="45" /></a>*@
                <span style="font-family: 'Bauhaus 93'; color: #4466AA; font-size: 42px; margin-right: -8px;">9</span> 
                <span style="font-family: 'Bauhaus 93'; font-size: 19px; margin-right: 5px; margin-left: -0px; position: relative; top: -.49em;">res</span>
                &copy; @DateTime.Now.Year

            </div>
        </div>
    </footer>

    @* Login Temlate Directive *@
    <nr-login></nr-login>

</body>
</html>
